$color-error: #ff8c98;
$color-blue : #243454;
$color-light:#8288c3;
$color-light-opacity: rgb(130, 136, 195,0.2);
$color-primary:#242961;
$color-gray:rgb(232, 232, 232);

color-guide{
    .Not-Work {
        background-color: red;
      }
      .Work {
        background-color: rgb(0, 106, 255);
      }
      .Conge-Paye {
        background-color: green;
      }
      .Conge-Not-Paye {
        background-color: gray;
      }
      .Holiday {
        background-color: navy;
      }
      .Quite {
        background-color: orange;
      }
}