@import "utils/styles/colors";

.demond {
  width: 25%;
    .item {
      padding: 10px 8px;
      margin-bottom: 4px;
      background-color: $color-light-opacity;
      display: flex;
      justify-content: space-between;
    }
  
}
